.contenedorEST {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
}
.imgEst {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: auto;
  margin-bottom: 2rem;
}
